// Dashboard Styles

.profile-picture {
  max-height:90px;
}

.bg-orange {
    background-color: #f28b00;
}

.dacast-theo {
    width: 100%;
    height: auto;
    min-height: 360px;
}

.navbar {
    padding: 0 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
    background-color: #f9b000;
}

.container-main {
    padding-left: 0;
    padding-right: 0;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.chat-default {
    max-height: 480px;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.dacast-theo {
    margin: 0 auto;
}

.timetable {

}

.timetable__date {
    padding: 1rem;
    color: $white;
    background-color: $orange;
    border-radius: .5rem;
    margin-bottom: .5rem;
}

.timeteable__section {
    padding: 1rem;
    color: #313131;
    background-color: #f5f5f5;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.row-no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.tabs-orange > .nav-tabs {
    background-color: #f28b00;
}

.tabs-orange > .nav-tabs .nav-link {
    color: #ffffff;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.tabs-orange > .nav-tabs .nav-link.active, .tabs-orange > .nav-tabs .nav-item.show .nav-link {
    color: #ffffff;
    background-color: #f9ac44;
    border: 0;
}

.navigation-title .icons {
    font-size: 20px;
}

.nav-tabs .nav-item {
    margin-bottom: 0;
}

.navbar-toggler .icon-user {
    color: $orange;
}

.btn-orange {
    color: #ffffff;
    background-color: $orange;
}

.nav-tabs {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
}

.tabs-wrapper {
    position: relative;
}

.btn-orange-light {
    background-color: #ffffff;
    color: $orange;
    border: 1px solid $orange;
}
